---
// LoginButton.astro
// Renders a button that redirects to /login to kick off the Descope Discord OAuth flow.
---
<a href="/login" class="btn btn-primary" id="login-btn">
  Log in with Discord
</a>
